/*** Screen size limits ***/
$mobile-min-width: 370px;
$tablet-min-width: 767px;
$desktop-min-width: 1279px;

/*** Fonts weights ***/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$dish__check-width: 59px;

/* Fonts */
$font-title: 'Shrikhand';
$font-default: 'Roboto';
/* Fonts Sizes */
$section-title-font-size: 24px;
$card-title-font-size: 18px;

/* Sizes */
$menu_card_like-form_size: 22px;
$menu-card-check-circle-width: 20px;

/* Margins */
$menu_card_like-form_margin_right_and_left: 24px;

/* Selectors Font Weights */
$section-title-font-weight: $font-weight-normal;
$card-title-font-weight: $font-weight-bold;

/* Colors */
$artifact-color: #9356DC;
$artifact-color-2: #7E7E7E;
$footer-color: #353535;
$notication-text-color: #008766;
$cta-text-color: #FFFFFF;
$footer-text-color: #FFFFFF;
$light-theme-main-text-color: #000000;
$light-theme-secondary-text-color: #353535;
$loader_text_color: #FFFFFF;

/** Background colors **/
$background-color: #f6f6f6;
$notication-background-color: #99E2D0;
$location_background-color: #EAEAEA;
$light-theme-background-content-color: #FFFFFF;
$loader-background-color: #000000;
