/*** Screen size limits ***/
$mobile-min-width: 370px;
$tablet-min-width: 767px;
$desktop-min-width: 1279px;

/*** Fonts weights ***/
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Fonts */
$font-title: 'Shrikhand';
$font-default: 'Roboto';

/* Colors */
$main-color: #9356DC;
$secondary-color: #99E2D0;
$fourth-color: #000000;
$fifth-color: #FFFFFF;
$fifth-color-darken: #f6f6f6;

$fifth-color-darken-2: #EAEAEA;

