@import "variables";

.fonctionnement {
  background-color: $fifth-color;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 68px;
  .section-title {
    background-color: transparent;
    height: 31px;
  }
  &__steps {
    position: relative;
    margin-top: 26px;
    font-family: $font-default;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
  }
  &__step {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    height: 72.38px;
    z-index: 1;
  }
  &__number {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    color: $fifth-color;
    font-family: $font-default;
    font-size: 14.18px;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
  }
  &__content {
    background-color: $fifth-color-darken;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: baseline;
    align-items: center;
    margin-left: 12.51px;
    padding-right: 38px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
  }
  &__txt {
    display: flex;
    flex-direction: row;
  }
  &__icon-container {
    display: inline-block;
    margin-left: 35.5px;
    margin-right: 20px;
    text-align: center;
    width: 18px;
  }
  .fa-mobile-alt, .fa-list-ul {
    color: #7E7E7E;
  }
  .fa-store {
    color: $main-color;
  }
}

@media (min-width: $tablet-min-width) {
  .fonctionnement {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (min-width: $desktop-min-width) {
  .fonctionnement {
    padding-left: 180px;
    padding-right: 180px;
    &__steps {
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .fonctionnement {
    padding-left: 75px;
    padding-right: 75px;
    // &__steps {
    //   flex-direction: row;
    //   gap: 24px;
    // }
  }
}

@media (min-width: $desktop-min-width) {
  .fonctionnement {
    padding-left: 180px;
    padding-right: 180px;
    &__steps {
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
    }
  }
}