@import "utilities/variables";

.footer {
  background-color: $footer-color;
  display: flex;
  flex-direction: column;
  color: $footer-text-color;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: flex-start;
  &__title {
    background-color: transparent;
    font-family: $font-title;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    width: 139px;
    height: 27px;
    color: $footer-text-color;
    margin-bottom: 16px;
  }
  &__links {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-family: $font-default;
    font-size: 16px;
    gap: 7px;
    // &:first-child, &:nth-child(2) {
    //   width: 190px;
    // }
    // &:nth-child(3), &:last-child {
    //   width: 130px;
    // }
    &-link {
      display: flex;
      background-color: transparent;
      color: $footer-text-color;
      text-align: left;
      align-items: center;
      &:nth-of-type(1), &:nth-of-type(2) {
        width: 190px;
      }
      &:nth-of-type(3), &:nth-of-type(4) {
        width: 130px;
      }
      &-text {
        width: 168px;
      }
      .fa-solid {
        background-clip: text;
        -webkit-background-clip: text;
        color: $footer-text-color;
        font-size: 11px;
        width: 22px;
        height: 13px;
      }
      &-text {
        background-color: transparent;
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .footer {
    flex-direction: row-reverse;
    justify-content: end;
    text-align: right;
    align-items: flex-end;
    height: 114px;
    padding-bottom: 30px;
    &__title {
      margin-bottom: 0;
    }
    &__links {
      flex-direction: row;
    }
  }
}