@import "variables";

.header {
  position: relative;
  text-align: center;
  background-color: $fifth-color;
  height: 63px;
  padding-top: 14px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  &__logo {
    background-color: transparent;
    width: 162px;
    height: 44px;
  }
  &__goback {
    background-color: $fifth-color;
    position: absolute;
    color: $fourth-color;
    width: 30px;
    height: 30px;
    left: 23px;
    top: 24px;
    z-index: 3;
    & img {
      background-color: $fifth-color;
      width: 17.2px;
      height: 16px;
    }
  }
  .location {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: $fifth-color-darken-2;
    margin-bottom: 0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    &__btn {
      position: relative;
      width: 12px;
      height: 16px;
      background-color: transparent;
    }
    &__txt {
      background-color: transparent;
      font-family: $font-default;
      font-size: 16px;
      font-weight: $font-weight-medium;
      height: 19px;
      padding-left: 17px;
      
    }
    &__icon {
      position: absolute;
      background-color: transparent;
      color: $fourth-color;
      right: 0px;
      top: 0px;
      width: 12px;
      height: 16px;
    }
  }
}


