@import "variables";

@keyframes hideLoader {
  0% {
    z-index: 5;
    opacity: 1;
  }
  70% {
    z-index: 5;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

$interval: 0.2;

.loader {
  // overflow: hidden;
  // overflow-y: hidden;
  position: absolute;
  width: 100%;
  // height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  animation: hideLoader 3s ease forwards;
  &__title {
    font-family: $font-title;
    color: $loader_text_color;
    width: 80%;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__stagger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__point {
    background-color: white;
    width: 5px;
    height: 5px;
    // margin-left: 5px;
    // margin-right: 5px;
    border-radius: 100%;
    opacity: 0.3;
    animation-name: loading;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 6;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        animation-delay: #{$interval * $i}s;
      }
    }
  }
}
