@font-face {
  font-family: 'Shrikhand';
  src: url(../fonts/Shrikhand-Regular.ttf) format('truetype');
}

@import "variables";
@import "shared";
@import "loader";
@import "header";
@import "location";
@import "hero";
@import "fonctionnement";
@import "restaurants";
@import "footer";

@keyframes displayContent {
  from {
    display: none;
  }
  to {
    display: none;
  }
}

body {
  position: relative;
  .body-content {
    animation-name: displayContent;
    animation-duration: 3s;
  }
}



